<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cssa.app"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_circle"
        android:label="CSSA"
        android:theme="@style/AppTheme" >
        <!--  MainActivity Part -->
        <activity
            android:name="com.cssa.app.MainActivity"
            android:label="CSSA" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  TaoKang's activity -->
        <activity
            android:name="com.cssa.app.tao_kang.tao_kang"
            android:label="" >    
        </activity>
        <activity
            android:name="com.example.newstudent.tab"
            android:label="" >
            
        </activity>
        <activity
            android:name="com.cssa.app.tao_kang.chapter1"
            android:label="" >
            
        </activity>
        
        <activity
             android:name="com.cssa.app.tao_kang.chapter2"
            android:label="" >
            
        </activity>
        
         <activity
            android:name="com.cssa.app.tao_kang.chapter3"
            android:label="" >
            
        </activity>
        
        <activity
            android:name="com.cssa.app.tao_kang.chapter4"
            android:label="" >
            
        </activity>
        
             <activity
            android:name="com.cssa.app.tao_kang.chapter5"
            android:label="" >
            
        </activity>
        <!-- QiuRuiqing's Activity -->
        <activity            
            android:name="com.cssa.app.qiu_rui_qing.qiu_rui_qing"          
            android:label="" >
        </activity>
        <activity
            android:name="com.cssa.app.qiu_rui_qing.PoolPage"
            android:label="" >
        </activity>
        <activity
            android:name="com.cssa.app.qiu_rui_qing.CitivasPage"
            android:label="" >
        </activity>
        <activity
            android:name="com.cssa.app.qiu_rui_qing.ActivityList"
            android:label="">
        </activity>
        <activity
            android:name="com.cssa.app.qiu_rui_qing.ActivityDetailView"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
