<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cssa.app"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            
            android:name="com.cssa.app.MainScreen"
            
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--  MainActivity Part -->
        <activity
            android:name="com.cssa.app.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!--  TaoKang's activity -->
        <activity
            android:name="com.cssa.app.tao_kang.tao_kang"
            android:label="@string/app_name" >    
        </activity>
        
        <!-- QiuRuiqing's Activity -->
        <activity            
            android:name="com.cssa.app.qiu_rui_qing.qiu_rui_qing"          
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cssa.app.qiu_rui_qing.PoolPage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cssa.app.qiu_rui_qing.CitivasPage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cssa.app.qiu_rui_qing.ActivityList"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
